body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}
body,html{
    width: 100%;
    height: 100%;
}
div.slides {
    width: 100%;
    height: 100%;
    overflow: hidden;
    left: 0;
    top: 0;

    position: absolute;
    display: block;
    -webkit-transition: -webkit-transform 2s ease-in-out;
    transition: -webkit-transform 2s ease-in-out;
}
body{
    color: #e6e6e6;
    background-color: #000010;
}

div.slide {
    display: none;
    position: absolute;
    overflow: auto;
    width: 100%;
    height: 100%;
    /*left: 50%;
    top: 50%;
    margin-top: -150px;
    background: -webkit-gradient(linear, left bottom, left top, from(#bbd), to(#fff));*/
    background: black;
    -webkit-transition: margin 0.25s ease-in-out;
    transition: margin 0.25s ease-in-out;
    /*background-color: #eee;*/
}

tr.locktop{
  position:relative;
  top:expression((this.offsetParent.scrollTop>this.parentElement.parentElement.offsetTop?this.offsetParent.scrollTop-this.parentElement.parentElement.offsetTop-1:0)-1);
}

/*div#toplist_config {
   width: 80;
   height: 60;
} */

div.current {
    display: block;
    /*margin-left: -250px;*/
}

div.future {
    display: none;
    /*margin-left: 0px;*/
}

.red {
    color: #ff5252;
}

.green {
    color: #52fc52;
}

.yellow {
    color: #d8d800;
}

.powderblue {
    color: #b1e2e8;
}
.white {
    color: white;
}
.flowerblue{
    color: #5ccace;
}
/*表格*/
.table {
    margin-bottom: 0px;
    min-width: 100%;
}
.ui.table,.table{
    background: #2b2b2b;
}
.ui.table thead th{
    line-height: 26px;
    background-color: #3c3c3c;
    box-shadow: 0 -1px 0 #5c5c66 inset;
    color: #f0f0f0;
}
.ui.selectable.table tbody tr:focus,
.ui.table tbody tr td.selectable:focus {
 /* display: table-row;
  vertical-align: inherit;
  border-color: inherit;*/
  outline: -webkit-focus-ring-color auto 5px;
}
tbody#content>tr>td {
    background-color: black;
    border-top: 0px solid black;
    padding: 1px;
    word-break: keep-all;
}
.ui.striped.table > tr:nth-child(2n), .ui.striped.table tbody tr:nth-child(2n) {
    background-color: #191919;
}
div#tb_alert,div#toplist_content {
    background-color: black;
}


.td-font-xs {
    font-size: 10px;
}
.td-font-sm {
    font-size: 12px;
}
.td-font-lg {
    font-size: 14px;
}
.ui.button{
    padding: 6px 12px;
    min-width: 76px;
    border-radius: 3px;
}

table thead th,.ui.table thead th{
    font-family: '微软雅黑';
    background-color: #3c3c3c;
    box-shadow: 0 -1px 0 #5c5c66 inset;
    color: #f0f0f0;
}
.ui.table thead th{
    padding: 0 3px;
}

.ui.table td {
    padding: 4px 3px;
}
body.alert table tbody td:nth-child(1),body.alert table tbody td:nth-child(2),body.alert table tbody td:nth-child(3){
    color: #f79400;
}
table tbody tr:nth-child(2n){
    background-color: #191919;
}
.table-striped>tbody>tr:nth-of-type(odd){
    background-color: #2b2b2b;
}
.table-striped>tbody>tr:hover{
    background-color: #424242;
}
.sortorder:after {
    content: '\25b2';
}

.sortorder.reverse:after {
    content: '\25bc';
}
/*自定义对齐*/
div#toplist_content>t{
    color: #03DA03
}
/*chart page*/
body[name="chart"] .table-condensed>thead>tr>th{
    padding: 5px 2px;
}
/*alert page*/

.ui.segment.op{
    width: 38%;
    min-width: 207px;
    max-width: 290px;
    /*padding: 8px 8px;*/
}
.ui.segment.tb{
    width: 62%;
    min-width: 230px;
    min-height: 290px;
}
.ui.segment.op .border{
    padding: 10px;
    border: 1px solid #696969;
    border-radius: 3px; 
    margin: 10px 0;
    height: calc(100% - 40px);
    overflow: auto;
}
treecontrol li.tree-expanded,treecontrol li.tree-collapsed{
    padding: 0;
}
.ui.horizontal.segments > .segment{
    border-left:none; 
}
.tb_container{
    border-radius: 5px;
    overflow: auto;
    border:1px solid #696969;
    box-shadow: none;
}
body[name="chart"] .tb_container{
    width: 100%;
    height: 100%;
    }
/*UserStock Page*/
.input-prepend{
    padding-left: 10px;
    margin:10px 0;
    min-width: 520px
}

body.userstock .table-condensed>tbody>tr>td{
    padding-top: 2px;
    padding-bottom: 2px;
}
.input-prepend > *{
    margin-right: 10px;
}
.input-prepend input{
    border-radius: 3px;
    height: 24px;
    padding-left: 5px;
}
body.userstock .tb_container{
    height: calc(100% - 78px);
    margin: 0 10px;
}

/*Toplist*/
#dlgRangeInput{
    font-family: arial,'Microsoft YaHei';
    line-height: 40px;
    padding-left: 10px;
}
#dlgRangeInput input{
    color: #333;
}
