body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

div.slides {
    width: 100%;
    height: 100%;
    overflow: hidden;
    left: 0;
    top: 0;
    position: absolute;
    display: block;
    -webkit-transition: -webkit-transform 2s ease-in-out;
    transition: -webkit-transform 2s ease-in-out;
}

div.slide {
    display: none;
    position: absolute;
    overflow: auto;
    width: 100%;
    height: 100%;
    /*left: 50%;
    top: 50%;
    margin-top: -150px;
    background: -webkit-gradient(linear, left bottom, left top, from(#bbd), to(#fff));*/
    background: black;
    -webkit-transition: margin 0.25s ease-in-out;
    transition: margin 0.25s ease-in-out;
    background-color: #eee;
}

div.current {
    display: block;
    /*margin-left: -250px;*/
}

div.future {
    display: none;
    /*margin-left: 0px;*/
}

.btn-alert-ok {
    z-index: 100;
    position: fixed;
}

treecontrol {
    position: relative;
    top: 30px;
}

.red {
    color: #ff5252;
}

.green {
    color: #52fc52;
}

.yellow {
    color: #d8d800;
}

.table {
    margin-bottom: 0px;
    min-width: 100px;
}

tbody#content>tr>td {
    background-color: black;
    border-top: 0px solid black;
    padding: 1px;
    word-break: keep-all;
}

div#tb_alert,div#toplist_content {
    background-color: black;
}


.td-font-xs {
    font-size: 10px;
}
.td-font-sm {
    font-size: 12px;
}
.td-font-lg {
    font-size: 14px;
}

td, th{
    min-width: 66px;
}

.sortorder:after {
    content: '\25b2';
}

.sortorder.reverse:after {
    content: '\25bc';
}
/*自定义对齐*/
.table-condensed>tbody>tr>td:nth-child(1){
    color: #03DA03
}
.table-condensed>tbody>tr>td:nth-child(2){
    color: yellow 
}