<!Doctype html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../resource/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../resource/css/semantic.css">    
    <!--<script src="../js/angular.js"></script>
    <script src="../js/semantic.js"></script>    
    <script type="text/javascript" src="../js/contextMenu.js"></script>
    <script type="text/javascript" src="../js/angular-tree-control.js"></script>    -->
    <!-- link for CSS when using the tree as a Dom element -->
    <link rel="stylesheet" type="text/css" href="../../resource/css/tree-control.css">
    <!-- link for CSS when using the tree as an attribute -->
    <link rel="stylesheet" type="text/css" href="../../resource/css/tree-control-attribute.css">
    <link rel="stylesheet" type="text/css" href="../../resource/css/style.css">

    <title>信号监视窗口</title>
</head>

<body ng-app="app_alert" ng-strict-di>
    <div class="slides" ng-controller="c_parent">
        <div id="tv_alert" class="slide current">
            <div class="ui horizontal segments" style="height:100%;margin:0;">
                <button name="btn_ok" id="btn_ok" class="btn-alert-ok" ng-click="subAlerts()">订阅信号</button>
                <div class="ui segment" style="overflow: auto;">
                    <treecontrol class="tree-light" selected-nodes="selectedNodes" tree-model="dataForTheTree" options="treeOptions" on-selection="showSelected(node)">
                        <input type="checkbox" ng-model="node.check" />
                        <label data-toggle="tooltip" title={{node.explain}}> &nbsp; {{node.name}}</label-->
                    </treecontrol>
                </div>
                <div class="ui segment" style="overflow: auto;">
                    <div>                        
                        <table class="table table-bordered table-condensed table-hover">
                            <thead>
                              <tr style="background-color: lightblue;">
                                   <th>
                     -                 <input type="checkbox" ng-model="bAllSelect" ng-click="toggleAll()"></button>
                                    </th>
                                    <th ng-repeat="header in stockheaders">{{header}}</th>
                                </tr>
                            </thead>
                            <tbody id="content1">
                                <tr ng-repeat="row in codes1">
                                    <td>
                                        <input type="checkbox" ng-model="row.checked" ng-change="toggle(row)"></button>
                                    </td>
                                    <td ng-repeat="col in row">
                                        {{col}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="tb_alert" class="slide future">
            <table class="table table-condensed">
                <thead id="header">
                    <tr style="background-color: lightblue;">
                        <th ng-show="timeItemSel">
                            时间
                         </th> 
                         <th ng-show="equitCodeItemSel">
                            代码
                         </th> 
                         <th ng-show="equitNameItemSel">
                            名称
                         </th>
                         <th ng-show="signalTypeItemSel">
                            类型
                         </th>
                          <th ng-show="VolumeItemSel">
                            数量
                         </th> 
                    </tr>
                </thead>
                <tbody id="content">
                    <tr ng-repeat="codeinfo in codes" ng-class="codeinfo.color">
                        <td ng-show="timeItemSel" ng-class="fontsize">
                            {{codeinfo.raisetime}}
                        </td>
                        <td ng-show="equitCodeItemSel" ng-class="fontsize">
                            {{codeinfo.codeid}}
                        </td>
                        <td ng-show="equitNameItemSel"  ng-class="fontsize">
                            {{codeinfo.codename}}
                        </td>
                        <td ng-show="signalTypeItemSel" ng-class="fontsize">
                            {{codeinfo.alertname}}
                        </td>
                        <td  ng-show="VolumeItemSel" ng-class="fontsize">
                            {{codeinfo.quantity}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
<script src="../controllers/alert.js"></script>

</html>