<!Doctype html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../resource/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="../../resource/css/style.css">
    <title>排序窗口</title>
</head>

<body ng-app="app_toplist" ng-strict-di>
    <div class="slides" ng-controller="c_parent">
        <div id="toplist_content" class="slide current" style="overflow: auto">
            <table class="table table-condensed ">
                <thead id="header">
                    <tr style="background-color: lightblue;">
                        <th ng-repeat="hdr in shareObject.header track by $index"  ng-click="setOption(hdr, $index)"  ng-show="$index<2||menuShow[hdr]||status.bopen" ng-mouseover="setSelCol(hdr)" >
                                   {{hdr}}
                               <span class="sortorder" ng-show="predicate === hdr"  ng-class="{reverse:reverse}"></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in rows track by $index" ng-click="selectRow(row,$index)" ng-class="{selected: row.isChecked}"  >
                        <td ng-repeat="col in row track by $index" ng-show="$index<2||menuShow[topArr[0].option[$index].columnname]" style="text-align: right ">{{col}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
   
        <div id="dlgRangeInput" class="future  box bt_container" >  
            <span class="text ">查询范围</span> 
            <input class="input-s" type="number" min="0" ng-change="saveConfig()" ng-model="shareObject.rankMin"> 至 <input class="input-s" type="number" min="0" ng-change="saveConfig()" ng-model="shareObject.rankMax"> 
            <button class="ui button"  ng-click="btnRangeSelect()"> 确定 </button>      
        </div>
        <div id="toplist_config" class="future  box bt_container"  >
            <div >
                <label>相关代码</label>
                <input type="text" class="input-s" placeholder="600446" ng-change="saveConfig(2)" ng-model="shareObject.curCode"/>
                <button class="ui button" ng-click="relaseWinShow()" > 确定 </button>
            </div>
        </div>
    </div>
</body>
<script src="../../resource/js/angular.js"></script>
<script src="http://cdn.bootcss.com/angular.js/1.5.3/angular-animate.js"></script>
<script src="http://cdn.bootcss.com/angular-touch/1.5.3/angular-touch.min.js"></script>
<script src="http://cdn.bootcss.com/angular-ui-bootstrap/1.3.3/ui-bootstrap-tpls.min.js"></script>
<script src="http://cdn.bootcss.com/angular-ui-bootstrap/1.3.3/ui-bootstrap.min.js"></script>
<script src="../controllers/toplist.js"></script>

</html>
