
body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

div.slides {
    width: 100%;
    height: 100%;
    overflow: hidden;
    left: 0;
    top: 0;
    position: absolute;
    display: block;
    -webkit-transition: -webkit-transform 2s ease-in-out;
    transition: -webkit-transform 2s ease-in-out;
}

div.slide {
    display: none;
    position: absolute;
    overflow: hidden;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    /*left: 50%;
    top: 50%;
    margin-top: -150px;*/
    background: -webkit-gradient(linear, left bottom, left top, from(#bbd), to(#fff));
    -webkit-transition: margin 0.25s ease-in-out;
    transition: margin 0.25s ease-in-out;
    background-color: #eee;
}

div.current {
    display: block;
    /*margin-left: -250px;*/
}

div.future {
    display: none;
    /*margin-left: 0px;*/
}


.btn-alert-ok {
    z-index: 100;
    position: fixed;
}

treecontrol {
    position: relative;
    top: 30px;
}

.red{
    color: #ff3232;
}

.green{
    color: #12fc12;
}

.table>tbody>tr>td{
    background-color: black;
    border-top: 0px solid black;
    font-size: 13px;
    padding: 2px;
}